:root {
    --background-color: rgb(32, 32, 32);
    --foreground-color: rgb(235, 235, 235);

    --red-dark: rgb(234, 31, 64);
    --red-wrong: rgb(255, 185, 86);
    --red-light: rgb(251, 184, 151);
    --red-glow: rgba(255, 159, 56, 0.5);
    --blue-dark: rgb(0, 170, 255);
    --blue-light: rgb(83, 221, 211);
    --blue-glow: rgba(56, 169, 255, 0.5);

    --disabled-color: rgb(220, 220, 220);

    --global-scale: 1;
    --item-scale: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    font-size: calc(27px * var(--global-scale));
    color: var(--foreground-color);
}

.default-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.div-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    height: 100vh;
    background-image: radial-gradient(circle, rgb(35,35,35), rgb(25,25,25));
}
    .start {
        scale: 0.5;
        filter: blur(100px);
    }

    .div-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        transition: 0.5s;
    }
        .div-share {
            width: calc(90px * var(--global-scale));
            height: calc(90px * var(--global-scale));
        }

        .img-share {
            width: 84%;
            padding: calc(7.5px * var(--global-scale));
            cursor: pointer;
            transition: 0.25s;
        }

        .div-share:hover .img-share {
            width: 100%;
            padding: calc(0px * var(--global-scale));
        }

        .div-share:active .img-share {
            width: 100%;
            padding: calc(0px * var(--global-scale));
            filter: saturate(10);
            transition: 0.1s;
        }

        .div-stats {
        }

        .txt-score {
            color: var(--red-light);
            text-align: center;
            font-size: calc(30px * var(--global-scale));
            color: var(--red-wrong);
        }
        .txt-timer {
            color: var(--blue-light);
            text-align: center;
            font-size: calc(30px * var(--global-scale));
        }
        .txt-timer-stopped {
            color: var(--disabled-color);
        }

        .div-links {
            display: flex;
            justify-content: space-between;

            height: calc(60px * var(--global-scale));
            margin-right: calc(15px * var(--global-scale));
        }

            .img-link {
                flex: 1;
                object-fit: contain;

                width: calc(40px * var(--global-scale));
                height: calc(40px * var(--global-scale));
                margin: calc(0px * var(--global-scale)) calc(5px * var(--global-scale));
                padding: calc(5px * var(--global-scale));
                border: 1px solid var(--foreground-color);
                border-radius: calc(30px * var(--global-scale));
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
                transition: background-color 0.25s;
            }

            .img-link:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-width: calc(2px * var(--global-scale));
                margin: calc(-1px * var(--global-scale)) calc(4px * var(--global-scale));
            }
    
    .div-above-middle {
        position: relative;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100px * var(--global-scale));
        width: max-content;
        align-self: center;
    }   
        .div-logo {
            position: absolute;
            width: calc(100px * var(--global-scale));
            left: calc(-80px * var(--global-scale));
            bottom: calc(5px * var(--global-scale));
        }

        .img-logo {
            width: 100%;
            transition: 2s;
        }

        .txt-title {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: calc(40px  * var(--global-scale));
            text-align: center;
            margin-top: calc(50px * var(--global-scale));
            padding-bottom: 50px;
            color: yellow;
            text-shadow: 0 0 calc(50px * var(--global-scale)) yellow;
            font-weight: bold;
            font-style: italic;
            cursor: default;
            z-index: 100;
            transition: 1s;
        }

        .txt-title:hover {
            font-size: calc(50px  * var(--global-scale));
        }

        .div-above-middle:hover .img-logo {
            filter: blur(50px);
        }
    
    .div-middle {
        display: flex;
        flex-direction: column;
        flex: 1;

        align-items: center;
        justify-content: end;
    }
        .div-scrambled {
            width: 90vw;
            text-align: center;
            
            margin-bottom: calc(15px * var(--global-scale));
            transition: 1s;
        }
            .txt-scrambled-sentence {
                color: var(--red-wrong);
            }

            .txt-scrambled-sentence-used {
                color: var(--disabled-color);
                text-shadow: none;
            }

        .div-original {
            width: 90vw;
            text-align: center;
            
            margin-bottom: calc(15px * var(--global-scale));
        }
            .txt-original-sentence {
                font-size: calc(0px * var(--global-scale));
                color: var(--red-dark);
                filter: blur(50px);
                transition: 0.25s;
            }

            .txt-original-sentence-visible {
                font-size: calc(37.5px * var(--global-scale));
                filter: blur(0);
                transition: 0.25s;
            }

            .txt-original-sentence-correct {
                color: greenyellow;
            }

        .div-guess {
            display: flex;
            flex-direction: row;

            width: 90vw;
            justify-content: center;

            margin-bottom: calc(15px * var(--global-scale));
        }
            .input-guess {
                width: 100%;
                text-align: center;
                caret-color: var(--red-dark);
                outline-color: var(--blue-dark);
                border: none;
                background-color: var(--foreground-color);
                color: var(--background-color);
                border-radius: calc(15px * var(--global-scale));
                box-shadow: 0px 0px calc(15px * var(--global-scale)) rgba(255,255,255, 0.25);
                padding: calc(3px * var(--global-scale));
                height: calc(45px * var(--global-scale));
                font-size: calc(30px  * var(--global-scale));
                transition: 0.5s;
            }

            .input-guess:focus {
                box-shadow: 0px 0px calc(30px * var(--global-scale)) rgba(255,255,255, 0.35);
            }

            .input-guess:disabled {
                background-color: gray;
            }

            .input-guess:disabled::placeholder {
                color: black;
            }
    
    .div-below-middle {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        align-items: center;
    }
        .div-continue {
            display: flex;
            flex-direction: row;

            width: 45vw;
            justify-content: center;
        }
            .btn-continue {
                width: 90%;
                background-color: var(--red-light);
                color: var(--background-color);
                border: none;
                padding: calc(10.5px * var(--global-scale));
                font-size: calc(27.5px * var(--global-scale));
                font-weight: bold;
                border-radius: calc(12px * var(--global-scale));
                box-shadow: 0px 0px calc(22.5px * var(--global-scale)) var(--red-glow);
                margin-top: calc(15px * var(--global-scale));
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-continue-reveal {
                background-color: var(--blue-light);
                box-shadow: 0px 0px calc(22.5px * var(--global-scale)) var(--blue-glow);
            }

            .btn-continue:hover {
                width: 95%;
                margin-top: calc(10.5px * var(--global-scale));
                padding: calc(15px * var(--global-scale));
            }

            .btn-continue:active {
                width: 100%;
                margin-top: calc(6px * var(--global-scale));
                padding: calc(19.5px * var(--global-scale));
            }
    
    .div-bottom {
        position: absolute;
        bottom: calc(10px / var(--global-scale));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 95%;
        /*padding: 0px calc(20px * var(--global-scale));*/

        align-items: center;
        
        transition: 0.5s;
    }   
        .a-credit {
            font-size: calc(18px  * var(--global-scale));
            text-align: center;
            color: var(--blue-dark);
            transition: 0.25s;
        }

        .a-credit:hover {
            color: var(--blue-light);
        }
        
        .a-credit:active {
            color: var(--foreground-color);
        }

        .txt-highscore {
            font-size: calc(18px  * var(--global-scale));
            color: var(--red-wrong);
        }

        .div-help {
            position: relative;
            cursor: pointer;
            font-size: calc(18px  * var(--global-scale));
            color: var(--red-wrong);
            border: 2px solid;
            padding: 2px;
            border-radius: 2px;
        }
            .div-help-tooltip {
                position: absolute;
                width: max-content;
                height: max-content;
                padding: calc(5px * var(--global-scale));
                padding-left: calc(28px * var(--global-scale));
                padding-right: calc(10px * var(--global-scale));
                border: none;
                border-radius: calc(10px * var(--global-scale));
                bottom: calc(30px * var(--global-scale));
                right: 0px;
                background-color: rgba(255, 191, 0, 0.3);
                scale: 0;
                opacity: 0;
                transition: 0.5s, opacity 0.75s;
            }
                .ul-help li {
                    font-size: calc(17px * var(--global-scale));
                }
                
        .div-help:hover .div-help-tooltip  {
            opacity: 1;
            scale: 1;
            transition: 0.2s, opacity 2s;
        }


@media (max-width: 600px) {
    :root {
        --global-scale: 0.65;
    }

    .div-bottom {
        bottom: calc(50px / var(--global-scale));
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    :root {
        --global-scale: 0.85;
    }
    
    .div-bottom {
        bottom: calc(30px / var(--global-scale));
    }
}

@media (min-width: 1024px) {
    :root {
        --global-scale: 1;
    }
}
