:root {
    /*--primary-color: #ffaa00;
    --secondary-color: #0088ff;
    
    --primary-color-light: #fffaf0;
    --secondary-color-light: #f3f9ff;
    
    --primary-color-dark: #8d4900;
    --secondary-color-dark: #003b6f;

    --primary-color-glow: rgba(255, 150, 0, 0.5);
    --secondary-color-glow: rgba(0, 145, 255, 0.5);*/

    --background-color: rgb(32, 32, 32);
    --foreground-color: rgb(235, 235, 235);

    --red-dark: rgb(234, 31, 64);
    --red-wrong: rgb(255, 185, 86);
    --red-light: rgb(251, 184, 151);
    --red-glow: rgba(255, 159, 56, 0.5);
    --blue-dark: rgb(0, 170, 255);
    --blue-light: rgb(83, 221, 211);
    --blue-glow: rgba(56, 169, 255, 0.5);

    --disabled-color: rgb(220, 220, 220);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    font-size: 27px;
    color: var(--foreground-color);
}

div {
    /*border-style: solid;*/
}

.default-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.div-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    background-image: radial-gradient(circle, rgb(35,35,35), rgb(25,25,25));
}

    .div-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 15px;
    }
        .div-share {
            width: 90px;
            height: 90px;
            margin-left: 15px;
            margin-top: 15px;
        }

        .img-share {
            width: 84%;
            padding: 7.5px;
            cursor: pointer;
            transition: 0.25s;
        }

        .div-share:hover .img-share {
            width: 100%;
            padding: 0px;
        }

        .div-share:active .img-share {
            width: 100%;
            padding: 0px;
            filter: saturate(10);
            transition: 0.1s;
        }

        .div-stats {
            margin-top: 15px;
        }

        .txt-score {
            color: var(--red-light);
            text-align: center;
            font-size: 30px;
        }
        .txt-timer {
            color: var(--blue-light);
            text-align: center;
            font-size: 30px;
        }
        .txt-timer-stopped {
            color: var(--disabled-color);
        }

        .div-links {
            display: flex;
            justify-content: space-between;

            height: 60px;
            margin-right: 15px;
            margin-top: 15px;
        }

            .img-link {
                flex: 1;
                object-fit: contain;

                width: 40px;
                height: 40px;
                margin: 0px 5px;
                padding: 5px;
                border: 1px solid var(--foreground-color);
                border-radius: 30px;
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
                transition: background-color 0.25s;
            }

            .img-link:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-width: 2px;
                margin: -1px 4px;
            }
    
    .txt-title {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
        color: yellow;
        text-shadow: 0 0 50px yellow;
        font-weight: bold;
        font-style: italic;
        cursor: default;
        transition: 1s;
    }

    .txt-title:hover {
        font-size: 50px;
    }
    
    .div-middle {
        display: flex;
        flex-direction: column;
        flex: 1;

        align-items: center;
        justify-content: end;
    }
        .div-scrambled {
            width: 90vw;
            text-align: center;
            
            margin-bottom: 15px;
        }
            .txt-scrambled-sentence {
                color: var(--red-wrong);
                /*text-shadow: 0 0 3px var(--red-wrong);*/
            }

            .txt-scrambled-sentence-used {
                color: var(--disabled-color);
                text-shadow: none;
            }

        .div-original {
            width: 90vw;
            text-align: center;
            
            margin-bottom: 15px;
        }
            .txt-original-sentence {
                font-size: 0px;
                color: var(--red-dark);
                transition: 0.25s;
            }

            .txt-original-sentence-visible {
                font-size: 37.5px;
            }

            .txt-original-sentence-correct {
                color: greenyellow;
            }

        .div-guess {
            display: flex;
            flex-direction: row;

            width: 90vw;
            justify-content: center;

            margin-bottom: 15px;
        }
            .input-guess {
                width: 100%;
                text-align: center;
                caret-color: var(--red-dark);
                outline-color: var(--blue-dark);
                border: none;
                background-color: var(--foreground-color);
                color: var(--background-color);
                border-radius: 15px;
                box-shadow: 0px 0px 15px rgba(255,255,255, 0.25);
                padding: 3px;
                height: 45px;
                font-size: 30px;
            }

            .input-guess:disabled {
                background-color: gray;
            }

            .input-guess:disabled::placeholder {
                color: black;
            }
    
    .div-below-middle {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        align-items: center;
    }
        .div-continue {
            display: flex;
            flex-direction: row;

            width: 45vw;
            justify-content: center;

            margin-bottom: 75px;
        }
            .btn-continue {
                width: 90%;
                background-color: var(--red-light);
                color: var(--background-color);
                border: none;
                padding: 10.5px;
                font-size: 34.5px;
                font-weight: bold;
                border-radius: 12px;
                box-shadow: 0px 0px 22.5px var(--red-glow);
                margin-top: 15px;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-continue-reveal {
                background-color: var(--blue-light);
                box-shadow: 0px 0px 22.5px var(--blue-glow);
            }

            .btn-continue:hover {
                width: 95%;
                margin-top: 10.5px;
                padding: 15px;
            }

            .btn-continue:active {
                width: 100%;
                margin-top: 6px;
                padding: 19.5px;
            }
    
    .div-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;

        align-items: center;
        
        margin-bottom: 15px;
    }   
        .a-credit {
            font-size: 18px;
        }

        .txt-highscore {
            font-size: 18px;
        }

        .div-help {
            position: relative;
            cursor: pointer;
            font-size: 18px;
        }
            .div-help-tooltip {
                position: absolute;
                width: max-content;
                height: max-content;
                padding: 5px;
                padding-left: 28px;
                padding-right: 10px;
                border: none;
                border-radius: 10px;
                bottom: 30px;
                right: 0px;
                background-color: rgba(0, 166, 255, 0.3);
                scale: 0.9;
                opacity: 0;
                transition: 0.25s;
            }
                .ul-help li {
                    font-size: 17px;
                }
                
        .div-help:active .div-help-tooltip, .div-help:hover .div-help-tooltip  {
            opacity: 1;
            scale: 1;
        }


.div-top, .div-middle, .div-bottom {
    /*margin-bottom: 10px;*/
}

/*

* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 25px;
    /*color: rgb(255, 250, 230);
}

.div-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.div-game {
    display: flex;
    flex: 1;
    width: 100%;

    flex-direction: column;
    background-color: gray;
    justify-content: center;
}

.txt-decode {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.txt-scrambled-sentence {
    color: white;
    margin: 30px 0px;
    background-color: rgb(200, 0, 0);
    width: max-content;
    align-self: center;
    padding: 0px 10px;
    border-radius: 7px;
    word-wrap: break-word;
}

.txt-scrambled-sentence-used {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    padding: 0px 10px;
    margin: 0px -10px;
    border-radius: 3px;
}

.input-player-guess {
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.3);
    transition: 0.5s;
}

.input-player-guess:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

.input-player-guess:focus {
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
}

.btn-next-sentence {
    padding: 10px 100px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    height: 60px;
    background-image:
    linear-gradient(to bottom right,
     yellow,
     orange,
     red);
    /*-background-color: rgb(255, 160, 0);
    color: rgb(255, 250, 230);
    align-self: center;
    /*color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    background-size: 300%;
    background-position: top left;
    transition: 1s;
}

.btn-next-sentence:hover {
    background-position: bottom right;
}

.txt-original-sentence {
    opacity: 0;
    font-size: 25px;
    margin: 0px;
    color: red;
    transition: 0.15s;
}

.txt-original-sentence-visible {
    font-size: 30px;
    margin: 10px 0px;
    opacity: 1;
}

.txt-original-sentence-correct {
    color: green;
}

/*.txt-score {
    text-align: start;
}
    */
